.advantages{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 4px;
    justify-content: center;
    margin-top: 16px;
}

.block{
    text-align: center;
    background: var(--dark);
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
}

.checkIcon{
    width: 25px;
    padding: 10px 0px 0px 0px;
}

.blockTitle{
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
    color: var(--yellow);
}

.blockContent{
    color: white;
    font-weight: normal;
    font-size: 14px;
    padding: 0 35px 10px 35px;
}


@media screen and (max-width: 800px) {
    .advantages {
        grid-template-columns: 80%;
        grid-row-gap: 10px;
    }

    .block {
        padding: 10px 0 0 0;
    }

    .blockContent{
        padding: 0 10px ;
    }
}