/* section {
    margin: 50px 0;
} */

.sectionTitle{
    display: block;
    /* padding: 0px; */
    margin: 50px 0px 15px 0px;
    text-align: center;
    font-size: 20px;
}

.testimonials{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: 2% 25% 25% 25% 2%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 250px; */
    margin-bottom: 50px;
    /* overflow: hidden; */
}

.testimonial{
    padding: 20px 30px;
    margin: 0px 10px ;
    border-radius: 8px;
    /* min-width: 120px; */
}

.testimonial>p{
    display: inline-block;
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-align: justify;
    /* height: 100px;; */
}

.rotate180{
    transform: rotate(180deg);
}

.avatar{
    padding: 15px 15px 0px 0px;
    width: 50px;
    display: inline-block;
}

.avatarCont{
    display: flex;
    align-items: center;
}

.checkIcon{
    width: 25px;
    padding: 10px 0px 10px 0px;
}

.style1{
    background: var(--dark);
}



@media screen and (max-width: 800px) {
    .testimonials>div:nth-of-type(even){
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .testimonials>div:nth-of-type(1){
        display: none;
    }
}