body {
  --yellow: #f5a623; 
  --dusk: #474d74;
  --dark: linear-gradient(to bottom, #213865, #1b1b3a);
  color: var(--yellow);
  font-family: Seravek;
  font-weight: 500;
  margin: 0;
  height: 800px;
}

.logo {
  height: 30px;
}

/* 
[debug] *:not(path):not(g) {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
}
 
*:hover:not(path):not(g) {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.05rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
}  */
